extends layout

block content
  include upperpage.pug
  #slidebanner.card.shadow
    each i in [{ "windows": '/panners/1.jpg', "phone": "/panners/1 phone.jpg",'link':"http://www.google.com" },{ "windows": '/panners/2.jpg', "phone": "/panners/2 phone.jpg" ,'link':"http://www.google.com"},{ "windows": '/panners/3.jpg', "phone": "/panners/3 phone.jpg",'link':"http://www.google.com" }]
      a.slides(href=i.link)
        img.windows(src = i.windows, alt="")
        img.phone(src = i.phone, alt="")
    a.prev ❮
    a.next ❯
  
  .row(style='margin: 10px;margin-top: 25px;')
    
    .col-xl-6.myrow.center
      .windows
        .panner.shadow-sm  
          image(src="/panners/panner2.png" )
        .panner.shadow-sm
          image(src="/panners/panner2.png" )
        .panner.shadow-sm
          image(src="/panners/panner2.png" )
      div
        .panner.shadow-sm
          image(src="/panners/panner2.png" )
        .panner.shadow-sm
          image(src="/panners/panner2.png" )
        .panner.shadow-sm
          image(src="/panners/panner2.png" )
    .col-xl-6.center
      .card(style='height: 100%;background-size: contain;background-repeat: no-repeat; min-height: 450px; width:400px')
    

  .myshdow(style='height: 300px; background-color: white;')
    div(style='background-color: #2393D3; height: 150px; padding: 20px;')
      .row
        .col-1
        .borderStyle.outershadow.col-10
            h4(style='color: white; text-align: center;') مولد النص العربي
            p(style='max-width: 500px; text-align: center; ') هذا النص هو مثال لنص يمكن ان يستبدل في نفس المساحة لقد تم توليد هذا النص من مولد النص العربي حيث يمكن ان تولد مثل هذا النص
                  
        .col-1
      
  .background(style='height: 40px; width: 100%; box-shadow: 3px 3px 5px rgb(255 255 255 / 20%), 3px 3px 5px rgb(255 255 255 / 20%);')
  #products
  each i in [{"header":"العروض","data":[{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images/call.svg","link":"https://www.google.com"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"}]},{"header":"الاكثرمبيعاً","data":[{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"}]},{"header":"وصل حديثاً","data":[{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"},{"name":"إسم المنتج","price":"150,00AED","oldprice":"160.00AED","image":"/images//logo.png"}]}]
    .pageColor.slideshow(style='margin-top: 30px; padding: 30px 0px;')
      div(style='display: flex; justify-content: center;')
          div(style='display: flex; justify-content: space-between;width: 75%; ')
            .windows
            h2.sliderHeader.textshadow #{i.header}
            button.btn.btn-outline-info.outershadow.textshadow  &#x639;&#x631;&#x636; &#x627;&#x644;&#x643;&#x644; 
      div(style='display: flex; margin-top: 50px; justify-content: center; align-items: center; position: relative; ')
          button#left.slideMover(onclick="iteratorClick(this,'left')")  ❯ 
          button#right.slideMover(onclick="iteratorClick(this,'right')")  ❮
          .productsHolder(style='width: 1040px;')
            .Hproducts
              each data in i.data
                .Hproduct
                  .card.product.mycolumn.main_spaceBetween.cross_center
                        img.center.productimg(alt='صوره المنتج' src= data.image)
                        .productName
                        | #{data.name}
                        div(style='text-align: center;')
                          span.newprice(style='color: rgb(214, 90, 90); font-size: 20pt; font-weight: bold;')
                              | #{data.price}
                          br
                          span.oldprice(style='text-decoration: line-through;')
                              | #{data.oldprice}
                        .row.main_start(style='width: 100%;')
                          a.mycolumn.main_center.btn.btn-secondary(href=data.link)
                            | &#x627;&#x634;&#x62A;&#x631;&#x64A; &#x627;&#x644;&#x627;&#x646;
      .pointsContainer.myrow.main_center(style='direction: rtl;')
        
    
  .diver
  .mycolumn.cross_center(style='margin-top: 10px; height: 100%; ')
    h2(style='margin-top: 30px;')  أفضل المنتجات
    #bestproducts.row.main_center(style='width: 90%; padding: 50px 0px;')
      each data in [{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"},{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"},{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"},{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"}]
        .bestproduct.product2.mycolumn.main_spaceBetween.col-md-6
          img.center.productimg2.myshdow(alt='صورة المنتج' src = data.image)
          .productdetails(style='padding: 10px; text-align: center;')
              | #{data.text}
          a.btn.btn-secondary(style='text-decoration: none;' href = data.link )
              | عرض المنتج
  include fotter.pug
  //- include slids.pug
  script(src='./javascripts/home.js')