extends layout

block content
  include upperpage.pug
  .row(style='margin: 10px;')
    .col-md-1
    .col-md-3.card.shadow(style='direction: rtl;')
      h4(style='color: red; margin: 5px; font-size: 2vw;') &#x645;&#x648;&#x644;&#x62F; &#x627;&#x644;&#x646;&#x635; &#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;
      p(style='margin: 5px; font-size: 1.2vw;') &#x647;&#x630;&#x627; &#x627;&#x644;&#x646;&#x635; &#x647;&#x648; &#x645;&#x62B;&#x627;&#x644; &#x644;&#x646;&#x635; &#x64A;&#x645;&#x643;&#x646; &#x627;&#x646; &#x64A;&#x633;&#x62A;&#x628;&#x62F;&#x644; &#x641;&#x64A; &#x646;&#x641;&#x633; &#x627;&#x644;&#x645;&#x633;&#x627;&#x62D;&#x629;
      .row
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        div(style='direction: ltr; margin: 20px 0px;')
          .btn.btn-outline-info &#x639;&#x631;&#x636; &#x627;&#x644;&#x643;&#x644;
    .col-md-8
      .card.shadow(style='background-color: #2393D3; height: 100%; margin-right: 2px;')
  .row(style='margin: 10px;margin-top: 25px;')
    .col-md-1
    .col-md-6(style='')
      .row
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
        .panner.col-6
          .shadow  
    .col-md-5
      .card(style='\
      height: 100%;\
      background-size: contain;\
      background-repeat: no-repeat;\
      min-height: 300px;\
      ')
  .myshdow(style='height: 300px; background-color: white;')
    div(style='background-color: #2393D3; height: 150px; padding: 20px;')
      .borderStyle.outershadow
        h4(style='color: white; text-align: center;')
          | &#x645;&#x648;&#x644;&#x62F; &#x627;&#x644;&#x646;&#x635; &#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;
        p(style='max-width: 500px; text-align: center; ')
          | &#x647;&#x630;&#x627; &#x627;&#x644;&#x646;&#x635; &#x647;&#x648; &#x645;&#x62B;&#x627;&#x644; &#x644;&#x646;&#x635; &#x64A;&#x645;&#x643;&#x646; &#x627;&#x646; &#x64A;&#x633;&#x62A;&#x628;&#x62F;&#x644; &#x641;&#x64A; &#x646;&#x641;&#x633; &#x627;&#x644;&#x645;&#x633;&#x627;&#x62D;&#x629; &#x644;&#x642;&#x62F; &#x62A;&#x645; &#x62A;&#x648;&#x644;&#x64A;&#x62F; &#x647;&#x630;&#x627; &#x627;&#x644;&#x646;&#x635; &#x645;&#x646; &#x645;&#x648;&#x644;&#x62F; &#x627;&#x644;&#x646;&#x635; &#x627;&#x644;&#x639;&#x631;&#x628;&#x64A; &#x62D;&#x64A;&#x62B;
          | &#x64A;&#x645;&#x643;&#x646; &#x627;&#x646;
          | &#x62A;&#x648;&#x644;&#x62F; &#x645;&#x62B;&#x644; &#x647;&#x630;&#x627; &#x627;&#x644;&#x646;&#x635;
      
  .background(style='height: 40px; width: 100%; box-shadow: 3px 3px 5px rgb(255 255 255 / 20%), 3px 3px 5px rgb(255 255 255 / 20%);')
  #products
  each i in [{"header":"العروض","data":data.products}]
    .pageColor.slideshow(style='margin-top: 30px; padding: 30px 0px;')
      div(style='display: flex; justify-content: center;')
          div(style='display: flex; justify-content: space-between;width: 75%; ')
            .windows
            h2.sliderHeader.textshadow #{i.header}
            button.btn.btn-outline-info.outershadow.textshadow  &#x639;&#x631;&#x636; &#x627;&#x644;&#x643;&#x644; 
      div(style='display: flex; margin-top: 50px; justify-content: center; align-items: center; position: relative; ')
          button#left.slideMover(onclick="iteratorClick(this,'left')")  ❯ 
          button#right.slideMover(onclick="iteratorClick(this,'right')")  ❮
          .productsHolder(style='width: 1040px;')
            .Hproducts
              each data in i.data
                .Hproduct
                  .card.product.mycolumn.main_spaceBetween.cross_center
                        img.center.productimg(alt='صوره المنتج' src= data.imgs[0])
                        .productName
                        | #{data.name}
                        div(style='text-align: center;')
                          span.newprice(style='color: rgb(214, 90, 90); font-size: 20pt; font-weight: bold;')
                              | #{data.price}
                          br
                          span.oldprice(style='text-decoration: line-through;')
                              | #{data.oldprice}
                        .row.main_start(style='width: 100%;')
                          a.mycolumn.main_center.btn.btn-secondary(href=`/product/${data._id}`)
                            | &#x627;&#x634;&#x62A;&#x631;&#x64A; &#x627;&#x644;&#x627;&#x646;
      .pointsContainer.myrow.main_center(style='direction: rtl;')
        
    
  div(style='background-color: rgba(0, 0, 0, .8);  aspect-ratio: 4;')
  .diver
  .mycolumn.cross_center(style='margin-top: 10px; height: 100%; ')
    h2(style='margin-top: 30px;')  أفضل المنتجات
    #bestproducts.row.main_center(style='width: 90%; padding: 50px 0px;')
      each data in [{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"},{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"},{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"},{"image":'/images/whatsapp.svg',"text":"هذا نص يعبر عن ....." , "link":"http://www.google.com"}]
        .bestproduct.product2.mycolumn.main_spaceBetween.col-md-6
          img.center.productimg2.myshdow(alt='صورة المنتج' src = data.image)
          .productdetails(style='padding: 10px; text-align: center;')
              | #{data.text}
          a.btn.btn-secondary(style='text-decoration: none;' href = data.link )
              | عرض المنتج
  .tabContainer.myrow(style='height: 75px;')
    .col-1
    .row
      .col-6.textshadow(style='width: 100px;')  &#x62A;&#x648;&#x627;&#x635;&#x644; &#x645;&#x639;&#x646;&#x627;
      a(href='https://wa.me/+201015940126' style='width: 400px;')
        .col-6.textshadow(style='width: 350px;')
          | 07415132521424+
          img(src='/images/Whitewhatsapp.svg' height='23px' width='23px' style='margin-right: 10px;')
    .row
      .textshadow(style='width: 250px;')  &#x627;&#x648; &#x639;&#x628;&#x631; &#x627;&#x644;&#x62A;&#x648;&#x627;&#x635;&#x644; &#x627;&#x644;&#x627;&#x62C;&#x62A;&#x645;&#x627;&#x639;&#x64A; 
      .myrow.main_spaceBetween(style='width: 200px;')
        .myshdow.center.socialIcon
          img(src='/images/youtube.svg')
        .myshdow.center.socialIcon
          img(src='/images/outline gmail.svg')
        .myshdow.center.socialIcon
          img(src='/images/twitter.svg')
        .myshdow.center.socialIcon
          img(src='/images/instagram.svg')
        .myshdow.center.socialIcon
          img(src='/images/facebook.svg')
        .myshdow.center.socialIcon
          img(src='/images/whatsapp.svg')


  div(style='height: 15px;')  
  .myrow(style='margin-bottom: 60px;')
    .col-1  
    .col-10.myrow.main_spaceBetween
      div
        img(src='/images//logo.png' style='width: 150px;margin-bottom: 25px;')
        div(style='line-height: 35px;')
          img(src='/images/call.svg' height='20px' width='20px' style='margin-left: 10px; transform: rotate(270deg);')
          | مولد النص العربي
        div(style='line-height: 35px;')
          img(src='/images/gmail.svg' height='20px' width='20px' style='margin-left: 10px; ')
          | مولد النص العربي
        div(style='line-height: 35px;')
          img(src='/images/location.svg' height='20px' width='20px' style='margin-left: 10px; ')
          | مولد النص العربي
      div.mycolumn
        div(style='font-weight: bold; padding-top: 40px;')  المعلومات
        a(href="www.google.com" style='padding-top: 10px;') من نحن
        a(href="www.google.com" style='padding-top: 10px;') الشروط والاحكام
        a(href="www.google.com" style='padding-top: 10px;') الشركات المصنعة
        
        
      div
        div.mycolumn(style='font-weight: bold; padding-top: 40px;') التصنيفات
        each i in data.categories
          a(href =`category/${i._id}` style='padding-top: 10px;') #{i.nameAr}
          br 

      div
        div.mycolumn(style='font-weight: bold; padding-top: 40px;') ماركات السيارات
        each i in []
          a(href = i.link style='padding-top: 10px;') #{i.data}

      div
        div.mycolumn(style='font-weight: bold; padding-top: 40px;') الشركات المصنعة
        each i in []
          a(href = i.link style='padding-top: 10px;') #{i.data}
        
    .col-1  
  div.center(style='background-color: rgba(0, 0, 0, .8); height: 50px; color: white;font-size:9pt;')  
    | جميع الحقوق محفوظة @2022
  div(style='height: 5px;')
  //- include slids.pug
  script(src='./javascripts/home.js')
  script.
    //- insertproduct([
    //- { "type": 1, "name": "x product", "oldprice": "700.00", "newprice": "100", "image": "/images//logo.png","link":"https://www.google.com" },
    //- { "type": 1, "name": "x product", "oldprice": "700.00", "newprice": "100", "image": "/images//logo.png","link":"https://www.google.com" },
    //- { "type": 1, "name": "x product", "oldprice": "700.00", "newprice": "100", "image": "/images//logo.png","link":"https://www.google.com" },
    //- { "type": 2, "name": "x product", "oldprice": "700.00", "newprice": "200", "image": "/images//logo.png","link":"https://www.google.com" },
    //- ])
    //- insertbestproduct([
    //- {"descripe":"هذا المنتج برعاية اسلام ابراهيم ", "image": "/images//logo.png","link":"https://www.google.com"},
    //- {"descripe":"هذا المنتج برعاية اسلام ابراهيم ", "image": "/images//logo.png","link":"https://www.google.com"},
    //- {"descripe":"هذا المنتج برعاية اسلام ابراهيم ", "image": "/images//logo.png","link":"https://www.google.com"},
    //- {"descripe":"هذا المنتج برعاية اسلام ابراهيم ", "image": "/images//logo.png","link":"https://www.google.com"}
    //- ])
  style.
    .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .mycolumn {
    display: flex;
    flex-direction: column;
    }
    .myrow {
    display: flex;
    flex-direction: row;
    }
    .rightrow {
    flex-direction: row-reverse
    }
    .main_center {
    justify-content: center;
    }
    .main_spaceAround {
    justify-content: space-around;
    }
    .main_spaceBetween {
    justify-content: space-between;
    }
    .main_start {
    justify-content: flex-start;
    }
    .main_end {
    justify-content: flex-end;
    }
    .cross_center {
    align-items: center;
    }
    .cross_start {
    align-items: flex-start;
    }
    .cross_end {
    align-items: flex-end;
    }
